body {
    background: #96f3cf;
    font: 16px "Fira Sans", sans-serif;
}

label {
    align-items: center;
    color: red;
}

input {
    align-self: center;
    color: aqua;
}

label[for="select-all"] {
    color: darkblue;
}

.form {
    text-align: center;
}

ul {
    list-style-type: none;
}

li > label {
    color: black;
}

h3 {
    color: blue;
    font-size: 20px;
    font-style: italic;
}

.links {
    text-align: center;
    color: darkblue;
    list-style-type: none;
}
