<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>GotchaPage</title>
    <link rel="stylesheet" href="../assets/page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../scripts/submit.js"></script>
    <script src="../scripts/selectAll.js"></script>
</head>

<body>
<form id="nicknameForm" action="/" method="post">
    <div class="form">
        <label>
            Nickname:
            <input type="text" name="nickname" style="color:black;" value="{{.NicknameInfo}}"/>
        </label>
        <br/>
        <input type="submit" id="sender" value="Get pages!" onsubmit="formSubmit()"/>
    </div>

    <div class="ticks">
        <ul>
            <li>
                <label for="select-all">Select all</label>
                <input type="checkbox" name="select-all" id="select-all" onclick="selectAll(this)">
            </li>
            {{.CheckBoxInfo}}
        </ul>
    </div>
    <div class="links">
        {{.LinkInfo}}
    </div>
</form>
</body>
</html>
