<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>GotchaPage</title>
    <link rel="stylesheet" href="../assets/page.css">
</head>

<body>
<form id="nicknameForm" action="/" method="post">
    <div class="form">
        <label>
            Nickname:
            <input type="text" name="nickname" style="color:black;"/>
        </label>
        <br/>
        <input type="submit" id="sender" value="Get pages!" onsubmit="formSubmit()"/>
        <script src="../scripts/submit.js"></script>
    </div>

    <div class="ticks">
        {{.CheckBoxInfo}}
    </div>
    <div class="links">
        {{.LinkInfo}}
    </div>
</form>
</body>
</html>
