<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>GotchaPage</title>
    <link rel="stylesheet" href="../assets/page.css">
</head>

<body>
<form id="nicknameForm" action="/" method="post">
    <div class="form">
        <label>
            Nickname:
            <input type="text" name="nickname" style="color:black;"/>
        </label>
        <br/>
        <input type="submit" id="sender" value="Get pages!" onsubmit="(e) => formSubmit(e)"/>
        <script>
            function formSubmit(e) {
                e.preventDefault()
                let formNick = document.getElementById("nicknameForm")[0];
                formNick.submit();
                return false;
            }
        </script>
    </div>

    <div class="ticks">
        {{.CheckBoxInfo}}
    </div>
    <div class="links">
        {{.LinkInfo}}
    </div>
</form>
</body>
</html>
